/.metadata/

/.chat-servidor/.settings
/.cliente-servidor/.settings
/.chat-servidor/bin
/.cliente-servidor/.settings
/.cliente-servidor/bin
/.cliente-servidor/.classpath
/.servidor-servidor/.classpath
/.cliente-servidor/.project
/.servidor-servidor/.project
